.header-detail {
  top: 0;
  box-shadow: 0px -8px 19px 0px black;
  top: 0;
  background-color: white;
  width: 100%;
  z-index: 2;
  position: fixed;
}
.body-detail {
  background: #fcfaf6;
}

.noi-dung-bai-viet {
  text-align: justify;
}

img,
svg {
  max-width: 100%!important;
  vertical-align: middle;
}

.nguon {
  margin: 0;
  font-size: 12px;
  font-family: overpass, Arial, sans-serif;
  float: right;
  text-transform: uppercase;
}

.link {
  margin: 0;
  font-size: 12px;
  font-family: overpass, Arial, sans-serif;
  text-transform: uppercase;
}

.nguon p {
  text-align: end;
}

@media screen and (max-width: 812px) {
  .nguon {
    font-size: 12px;
    font-family: overpass, Arial, sans-serif;
    float: right;
    text-transform: uppercase;
    padding: auto;
  }

  .nguon p {
    text-align: unset;
    font-size: smaller;
  }

  .link {
    margin: 0;
    font-size: 12px;
    font-family: overpass, Arial, sans-serif;
    text-transform: uppercase;
  }

  .lst-bv-lien-quan h2 {
    padding-bottom: 0px;
    padding-top: 20px;
  }
}

/* .lst-bv-lien-quan h2 {
  font-family: overpass, Arial, sans-serif;
  text-transform: uppercase;
  font-size:x-small;
} */

.binh-luan {
  font-size: medium;
  text-align: justify;
  display: flex;
  padding: 5px 0px;
}

.img-add {
  padding: 10%;
  border-radius: 50%;
}

@media screen and (max-width: 767px) {
  .img-add {
    padding: 10%;
    border-radius: 50%;
    width: 100px;
  }
}
